# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL=https://dwiqhawtqmqttbmzxbeo.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3aXFoYXd0cW1xdHRibXp4YmVvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjQ2MTk4NiwiZXhwIjoyMDYyMDM3OTg2fQ.du6mjM4ythZZD271z06J9Fe3vN4-L7dKC4onurrsWfU

# NextAuth configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=vexxaappauth102030
